.divbox{
  background-color: #f0f7fb;
  background-image: url(../Images/icons/Pencil-48.png);
  background-position: 9px 0px;
  background-repeat: no-repeat;
  border: solid 1px #3498db;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px;
  flex-wrap: wrap;
  width: 200px;
  padding: 10px;
}



h1{
font-family: arial;
}

p{
font-family: arial;
}

#div{
  display: flex;

}

#deleteAll{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body{
  background-color: #c7efff;
}
